*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}

body {
    background-color: #1d1b1b;
    color: #f0f8ff;
}
.navigationMenu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar {
    background: #22222a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar-logo {
    color: #fca817;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 20px;
}
.navbar-logo img {
    width: 150px;
    border-radius: 20px;
}
img, svg {
    vertical-align: middle;
}
.menu-icon {
    display: none;
}
.fa-bars {
    color: #0a0103;
}

.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    transition: all .2s ease-out;
    margin-top: -9px;
}
.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.hero_icon button {
    border: none;
    outline: none;
    padding: 5px 30px;
    background-color: #ff451b;
    border-radius: 20px;
    color: #fff;
    margin-top: 12px;
}
.hero_icon button a {
    font-size: 16px;
}
.hero_icon a {
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}
.top_bar {
    margin: 60px 0;
}

.hero_main {
    height: 600px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
a.typewrite.text-white {
    text-decoration: none;
}
.hero_icon {
    color: #fff
}
.hero_icon a {
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}
i.fa-brands.fa-linkedin-in {
    background-color: #0a66c2;
}
i.fa-brands.fa-facebook-f {
    background-color: #0a66c2;
}
i.fa-brands.fa-instagram {
    background-color: #c42f96;
}
.hero_icon i {
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: grey;
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.hero_img img {
    border-radius: 15px;
    width: 320px;
}
.hero_img, .hero_img img {
    position: relative;
}
img, svg{
    vertical-align: middle;
}

.hero_img:before {
    content: "";
    width: 70%;
    height: 70%;
    top: 17%;
    left: 40%;
    background-color: #ff451b;
    border-radius: 20px;
    position: absolute;
    transform: rotate(50deg);
    animation-name: example;
    animation: mymove 11s infinite;
}
.about_section {
    background-color: #494b50;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 15px 0;
}
.about_left_area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.about_left_area img {
    width: 270px;
    position: relative;
    min-width: 60%;
    border-radius: 20px;
}

.info_box {
    position: relative;
    min-width: 40%;
    left: -55px;
    margin-top: 55px;
    background-color: #ff451b;
    padding: 30px 40px 35px 15px;
    z-index: 1;
    border-radius: 15px;
}
.info_box ul {
    margin: 0;
    list-style-type: none;
}
.info_box ul li:first-child {
    padding-top: 0;
}
.info_box ul li {
    margin: 0;
    border-bottom: 1px dashed hsla(0,0%,100%,.3);
    padding: 13px 0;
}
.info_box ul li h3 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2px;
    opacity: .85;
}
.about_right_area h2 {
    color: #ff451b;
}
.hero_icon {
    list-style: none;
}
.resume_section, .service_section, .testimonial_section {
    background-color: #494b50;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 15px 0;
}
.category_ntn button {
    border: none;
    outline: none;
    margin-right: 5px;
    padding: 10px 30px;
    background-color: #f1400a;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}
.resume_icon img {
    width: 120px;
    height: 120px;
}


.about_section, .blog_section, .contact_section, .portfolio_section, .resume_section, .service_section, .testimonial_section{
    background-color: #494b50;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 15px 0;
}
i.fa-solid {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}
i.fa-brands.fa-css3.py-4 {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}
i.fa-brands.fa-bootstrap {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}
.fa-brands.fa-js{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}
.fa-brands.fa-react {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}
.fa-brands.fa-node-js {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: #ff451b;
    padding: 30px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}

.blogs {
    background-color: #494b50;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 15px 0;
}
.coming_soon {
    border: 1px solid grey;
    padding: 10px;
}
.m-3 {
    margin: 1rem;
}
.box img {
    height: 210px;
    padding-bottom: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.details_btn {
    color: white;
    background-color: #ff451b;
    border: none;
}

.contact_section {
    background-color: #494b50;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 15px 0;
}
.contact {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
}
.call_icon i, .contact_me {
    display: flex;
    align-items: center;
}
.call_icon i {
    width: 70px;
    height: 70px;
    background-color: #ff451b;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.contact_form input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    
  }
   
  input[type=submit] {
    width: 25%;
    background-color: #ff451b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit_btn {
    background-color: #ff451b!important;
    outline: none!important;
    width: 300px!important;
}
  

  [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
